
.page {
  background: #4a4a4a; 
  min-height: 100vh;
  width: 100%;
  color: white;
}


.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;     
  padding: 40px;
}


a {
  color: white;
  text-decoration: none;
}