* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;

  background: #3f3f3f;   
  color: #fff;
  overflow-x: hidden;    
}


a {
  color: white;
  text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
